<!DOCTYPE html>
<html>

<head>
    <title>{title}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/hljstheme.css">
    <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/default.min.css">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>
</head>

<body>
    <div id="content">
        <div id="sidebar">
            <h1>Aspirus</h1>
        </div>
        <div id="markdown">{markdown}</div>
    </div>
    <script>hljs.highlightAll();</script>
</body>

</html>
